{{- if and .Values.neo4j.enabled .Values.neo4j.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: neo4j-data
  namespace: {{ .Values.namespace }}
  labels:
    app: neo4j
    {{- include "winm.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.neo4j.persistence.size }}
{{- end }}
