{{- if .Values.neo4j.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: neo4j
  namespace: {{ .Values.namespace }}
  labels:
    app: neo4j
    {{- include "winm.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 7687
      targetPort: 7687
      name: bolt
  selector:
    app: neo4j
{{- end }}
