{{- if .Values.secrets.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.name }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "winm.labels" . | nindent 4 }}
type: Opaque
stringData:
  neo4j-password: {{ .Values.secrets.neo4jPassword | default "password" | quote }}
  neo4j-auth: {{ printf "neo4j/%s" ( .Values.secrets.neo4jPassword | default "password" ) | quote }}
  {{- if .Values.rabbitmq.enabled }}
  rabbitmq-default-user: {{ .Values.rabbitmq.auth.user | quote }}
  rabbitmq-default-pass: {{ .Values.rabbitmq.auth.password | quote }}
  rabbitmq-url: {{ printf "amqp://%s:%s@rabbitmq:5672/" .Values.rabbitmq.auth.user .Values.rabbitmq.auth.password | quote }}
  {{- else }}
  rabbitmq-url: {{ .Values.secrets.rabbitmqUrl | default "amqp://guest:guest@rabbitmq:5672/" | quote }}
  {{- end }}
  gigachat-credentials: {{ .Values.secrets.gigachatCredentials | default "" | quote }}
{{- end }}
